.navbar {
  margin-bottom: 0px;
}

.carousel {
  text-align: center;
  min-height: 70px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.glyphicon-chevron-right {
  color: #000;
}

.glyphicon-chevron-left {
  color: #000;
}
